body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: white;
}
header {
    text-align: center;
    padding: 20px;
    
}
nav {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 1% ;
    display: inline-block;
    margin: 0 2;
}

section {
    margin-top: 20px;
}
article {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);
    background-color: #FFF3E0;
}
footer {
    background-color:white ;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
h1
{
    text-align: center;
    bottom: 20% ; 
}
img 
{
    text-align: center;
    padding: 5%;
    size: 40%;
}

a[href="zaloguj.html"] {
    display: inline-block;
    float: right;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #FFF3E0;
    margin: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);
}
a[href="wyloguj.html"] {
    display: inline-block;
    float: right;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #FFF3E0;
    margin: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);
}
table {
    align-items: center;

    width: 80%; 
    margin-top: 40px;
    border-collapse: collapse;
}
caption {
    font-size: 1.5em;
    margin-bottom: 10px;
}

thead {
    background-color: #333;
    color: #fff;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid #333;
}
img {
    max-width: 30%;
    height: auto;
    margin: -5%;
}
a[href="arytykul.html"]
{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
