body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: white;
}
h1 {
    text-align: center;
    color: black;
}
nav {
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}
footer {
    background-color:white ;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
section {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color:#FFF3E0;
    border-radius: 8px;
    box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);
}
h1 {
    text-align: center;
    color: black;
}
a[href="zaloguj.html"] {
    display: inline-block;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #FFF3E0;
    margin: 10px;
    text-decoration: none;
    float:none;
    box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);
}
#Zdjecie
{
 text-align: center;
 padding: 1%;
}
